{% extends 'base.html.twig' %}

{% block title %}Edit Proposition{% endblock %}

{% block body %}
    <h1>Edit Proposition</h1>
    {{ include('proposition/form.html.twig', {'button_label': 'Update'}) }}
    <button type="submit" class="btn btn-outline-success">
        <a href="{{ path('proposition_index') }}"> <span class="btn-label"><i class="fas fa-sign-in-alt"></i></span>
            back to list</a></button>
    {{ include('proposition/delete_form.html.twig') }}
{% endblock %}
