{% extends 'base.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block body %}
    <div class="card text-center">
    <div class="card-header" style="background-color: #e3f2fd;">
        <h1 class="h3 mb-3 font-weight-normal">Forgotten Password</h1>
    </div>
    <form class="form-inline" method="post" action="{{ path('mail_forgotten_password') }}">
        <div class=" card-item form-group col-md-8">
        <input type="email" name="email" id="inputEmail" class="form-control col-md-12" placeholder="Email" required autofocus>
        </div>
        <button class="btn card-button btn-primary md-3" type="submit"> Send mail </button>

        {% for message in app.flashes('danger') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}

    </form>
    </div>
    <style>
        .card {
            margin: 5% 30%; /* Added */
            float: none; /* Added */
            margin-bottom: 20px; /* Added */
        }
        form {
            margin:5% 5% 5% 15%; /* Added */
            float: none; /* Added */
            margin-bottom: 20px; /* Added */
        }
    </style>
{% endblock %}