<nav class="navbar navbar-expand-lg navbar-light justify-content-between" style="background-color: #e3f2fd;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="navbar-item nav-link navbar-brand{% if current_menu is defined and current_menu == 'home' %}active{%endif%}" href="{{ path('home') }}">Page d'accueil</a>
            <a class="navbar-item nav-link {% if current_menu is defined and current_menu == 'login' %}active{%endif%}" href="{{ path('login') }}">Se connecter</a>
            <a class="navbar-item nav-link" {% if is_granted('IS_AUTHENTICATED_FULLY') %}null;{% else %}hidden{%endif%} href="{{ path('sign_out') }}">Se deconnecter</a>
        </div>
    </div>
</nav>